{% extends "default.html" %}
{% block title %}Welcome to exporty{% endblock %}

{% block content %}
{% endblock %}

{% block right_menu1 %}
    <h4>quick links</h4>
    <ul>
        <li><a href="/admin/exporty/invoice/add/">create invoice</a></li>
        <li><a href="/admin/exporty/invoicetemplate/">invoice templates</a></li>
        <li><a href="/admin/exporty/invoice/">all invoices</a></li>
    </ul>
{% endblock %}

{% block right_menu2 %}
{% endblock %}

{% block right_menu3 %}
{% endblock %}
