<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=us-ascii"/>
    <script type="text/javascript" src="/scripts/jquery-1.3.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
    {% block extrastyle %}{% endblock %}
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
    {% block extrahead %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>{% block title %}{% endblock %}</title>
    {% block blockbots %}<meta name="robots" content="index,follow" />{% endblock %}    
</head>
<body>
{% if not is_popup %}
<div id="head">
    <div id="title">
        <div id="titleText">Invoicy</div>
        <div id="logoutbar">
            {% block logoutbar %}{% endblock %}
        </div>
    </div>
    <div id="menu">
        {% block navtabs %}{% endblock %}
    </div>
</div>
{% endif %}
<div id="body_wrapper">
    <div id="body">
        {% block body_split %}
            {% if not is_popup and not newuser %}
                <div id="split">
            {% else %}
                <div id="all">
            {% endif %}
        {% endblock %}
            <div class="top"></div>
            {% block body_all_content %}
            {% if not is_popup and not newuser %}
            <div id="left">
             {% endif %}
                <div class="content {% block coltype %}{% endblock %}">
                    {% if messages %}
                        <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
                    {% endif %}
                    {% block pretitle %}{% endblock %}
                    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
                    {% block content %}
                    {% block object-tools %}{% endblock %}
                    {% endblock %}
                </div>
            {% if not is_popup and not newuser %}    
            </div>
            {% endif %}
            {% if not is_popup and not newuser %}
                <div id="right">
                    <div class="content">
                        {% block right_menu1 %}
                        {% endblock %}
                        {% block right_menu2 %}
                        {% endblock %}
                        {% block right_menu3 %}
                        {% endblock %}
                    </div>
                </div>
            {% endif %}
            {% endblock %}
            <div class="clearer"></div>
            <div class="bottom"></div>

        </div>
        <div class="clearer"></div>
    </div>
    <div class="clearer"></div>
</div>
<div id="end_body"></div>
<div id="footer">
    &copy; Copyright Prabhu.
</div>

</body>
</html>
