{% extends "default.html" %}
{% load i18n %}
{% load tags %}
{% block title %}{% trans "Welcome to clienty" %}{% endblock %}

{% block content %}
{% endblock %}

{% block right_menu1 %}
    <h4>{% trans "quick links" %}</h4>
    <ul>
        <li>{% link request "/admin/clienty/client/add/" "add client" %}</li>
        <li>{% link request "/admin/clienty/contact/add/" "add contact" %}</li>
        <li><a href="#">past invoices</a></li>
        <li><a href="#">reports</a></li>
    </ul>
{% endblock %}

{% block right_menu2 %}
{% endblock %}

{% block right_menu3 %}
{% endblock %}
